<section
    id="referenceInfoEditor"
    class="gap-6 text-gray-700 p-2"
>
    {% import 'edit_resume/references/macros.html' as macros %}

    {% for reference in resume.resume.references %}
    {{ macros.render_entry(data=reference) }}
    {% endfor %}
    <button
        type="button"
        class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
        onclick="$(this).before(renderBlankReferenceEntry())"
    >
        New Reference
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </button>
</section>

<script>
    function updateResumeReferencesInfo(resume) {
        let references = [];

        $('#referenceInfoEditor').find('div[data-id="reference"]').each(function() {
            let ref_obj = {};
            let empty = true;

            $(this).find('input').each(function() {
                if ($(this).val() == "") {
                    ref_obj[$(this).attr('name')] = "";
                    return;
                }

                ref_obj[$(this).attr('name')] = $(this).val();
                empty = false;
            });

            if (empty) {
                $(this).remove();
                return;
            }

            references.push(ref_obj);
        });

        if (references.length == 0) {
            delete resume.references;
        } else {
            resume.references = references;
        }
    }

    function renderBlankReferenceEntry() {
        return (`{{ macros.render_entry(data={}) }}`);
    }
</script>