<section
    id="workInfoEditor"
    class="gap-6 text-gray-700 p-2"
>
    {% import 'edit_resume/work/macros.html' as macros %}

    {% for work_data in resume.resume.work %}
    {{ macros.render_entry(data=work_data) }}
    {% endfor %}
    <button
        type="button"
        class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
        onclick="$(this).before(renderBlankEntry())"
    >
        New Experience
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </button>
</section>

<script>
    function updateResumeWorkInfo(resume) {
        let work = [];

        $('#workInfoEditor').find('div[data-id="work"]').each(function() {
            let work_obj = { "highlights": [] };
            let empty = true;
            
            $(this).find('input').each(function() {
                if ($(this).val() == "") {
                    if ($(this).attr('name') == 'highlight') {
                        $(this).parent().remove();
                    } else {
                        work_obj[$(this).attr('name')] = "";
                    }

                    return;
                }

                if ($(this).attr('name') == 'highlight') {
                    work_obj.highlights.push($(this).val());
                } else {
                    work_obj[$(this).attr('name')] = $(this).val();
                }

                empty = false;
            });

            $(this).find('textarea').each(function() {
                if ($(this).val() == "") {
                    work_obj[$(this).attr('name')] = "";
                    return;
                }

                work_obj[$(this).attr('name')] = $(this).val();
                empty = false;
            });

            if (empty) {
                $(this).remove();
                return;
            }

            work.push(work_obj);
        });

        resume.work = work;
    }

    function renderBlankEntry() {
        return (`{{ macros.render_entry(data={'highlights': []}) }}`);
    }

    function renderBlankHighlight() {
        return (`{{ macros.render_highlight(value='') }}`);
    }
</script>