<section
    id="publicationInfoEditor"
    class="gap-6 text-gray-700 p-2"
>
    {% import 'edit_resume/publications/macros.html' as macros %}

    {% for publication in resume.resume.publications %}
    {{ macros.render_entry(data=publication) }}
    {% endfor %}
    <button
        type="button"
        class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
        onclick="$(this).before(renderBlankPublicationEntry())"
    >
        New Publication
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </button>
</section>

<script>
    function updateResumePublicationInfo(resume) {
        let publications = [];

        $('#publicationInfoEditor').find('div[data-id="publication"]').each(function() {
            let pub_obj = {};
            let empty = true;

            $(this).find('input,textarea').each(function() {
                if ($(this).val() == "") {
                    pub_obj[$(this).attr('name')] = "";
                    return;
                }

                pub_obj[$(this).attr('name')] = $(this).val();
                empty = false;
            });

            if (empty) {
                $(this).remove();
                return;
            }

            publications.push(pub_obj);
       });

       resume.publications = publications;
    }

    function renderBlankPublicationEntry() {
        return (`{{ macros.render_entry(data={}) }}`);
    }
</script>