<section
    id="certificateInfoEditor"
    class="gap-6 text-gray-700 p-2"
>
    {% import 'edit_resume/certificates/macros.html' as macros %}

    {% for certificate in resume.resume.certificates %}
    {{ macros.render_entry(data=certificate) }}
    {% endfor %}
    <button
        type="button"
        class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
        onclick="$(this).before(renderBlankCertificateEntry())"
    >
        New Certificate
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </button>
</section>

<script>
    function updateResumeCertificateInfo(resume) {
        let certificates = [];

        $('#certificateInfoEditor').find('div[data-id="certificate"]').each(function() {
            let cert_obj = {};
            let empty = true;

            $(this).find('input').each(function() {
                if ($(this).val() == "") {
                    cert_obj[$(this).attr('name')] = "";
                    return;
                }

                cert_obj[$(this).attr('name')] = $(this).val();
                empty = false;
            });

            if (empty) {
                $(this).remove();
                return;
            }

            certificates.push(cert_obj);
        });

        if (certificates.length == 0) {
            delete resume.certificates;
        } else {
            resume.certificates = certificates;
        }
    }

    function renderBlankCertificateEntry() {
        return (`{{ macros.render_entry(data={}) }}`);
    }
</script>