        <section
            id="projectInfoEditor"
            class="gap-6 text-gray-700 p-2"
        >
            <button
                id="addProjectButton"
                type="button"
                class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
                onclick="$(this).before(renderProjectEntry(`new_${new_entry_index_project}`));new_entry_index_project++;"
            >
                New Project
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </button>
        </section>
    
    <script>
        let new_entry_index_project = 0;

        let projects = {{resume.resume.projects | tojson}};

        projects.forEach((project, projIndex) => {
            $('#projectInfoEditor').find('#addProjectButton').before(renderProjectEntry(projIndex, project));

            project.highlights?.forEach((highlight, index) => {
                $(`#proj_${projIndex}`).find('#addHighlightButton').before(renderProjectHighlightEntry(index, highlight));
            });

            project.keywords?.forEach((keyword, index) => {
                $(`#proj_${projIndex}`).find('#addKeywordButton').before(renderProjectKeywordEntry(index, keyword));
            });

            project.roles?.forEach((role, index) => {
                $(`#proj_${projIndex}`).find('#addRoleButton').before(renderProjectRoleEntry(index, role));
            });
        });


        // Listeners

        function updateResumeProjectInfo(resume) {
            let projects = [];

            $('#projectInfoEditor').find('div[id^="proj_"]').each(function() {
                let proj_obj = { 
                    "highlights": [],
                    "keywords": [],
                    "roles": []
                };
                let empty = true;
                
                $(this).find('input').each(function() {
                    if ($(this).val() == "") {
                        if ($(this).attr('name').startsWith('highlight_')
                            || $(this).attr('name').startsWith('keyword_')
                            || $(this).attr('name').startsWith('role_')
                        ) {
                            $(this).parent().remove();
                        } else {
                            proj_obj[$(this).attr('name')] = "";
                        }

                        return;
                    }

                    if ($(this).attr('name').startsWith('highlight_')) {
                        proj_obj.highlights.push($(this).val());
                    }
                    else if ($(this).attr('name').startsWith('keyword_')) {
                        proj_obj.keywords.push($(this).val());
                    }
                    else if ($(this).attr('name').startsWith('role_')) {
                        proj_obj.roles.push($(this).val());
                    }
                    else {
                        proj_obj[$(this).attr('name')] = $(this).val();
                    }

                    empty = false;
                });

                if (empty) {
                    $(this).remove();
                    return;
                }

                projects.push(proj_obj);
            });

            resume.projects = projects;
        }

        function renderProjectEntry(index, projData) {
            return (
                `<div class="grid grid-cols-2 border p-2 rounded gap-4 my-4" id="proj_${index}">
                    <div class="block">
                        <label for="name" class="block mb-2 font-semibold">Project Name</label>
                        <input
                            id="name"
                            name="name"
                            type="text"
                            value="${projData?.name ?? ""}"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block">
                        <div class="flex justify-between items-center">
                            <label for="entity" class="block mb-2 font-semibold">Company/Entity Affiliation</label>
                            <button
                                class="text-red-500 hover:text-red-700 flex items-center"
                                onclick="$(this).parent().parent().parent().remove();"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                </svg>
                            </button>
                        </div>
                        <input
                            id="entity"
                            name="entity" 
                            type="text"
                            value="${projData?.entity ?? ""}"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block col-span-full">
                        <label for="description" class="block mb-2 font-semibold">Project Description</label>
                        <input
                            id="description"
                            name="description"
                            type="text"
                            value="${projData?.description ?? ""}"
                            class="border p-2 rounded w-full"
                            placeholder="Short description of the project"
                        />
                    </div>
                    <div class="block">
                        <label for="url" class="block mb-2 font-semibold">Project URL</label>
                        <input
                            id="url"
                            name="url"
                            type="url"
                            value="${projData?.url ?? ""}"
                            class="border p-2 rounded w-full"
                            placeholder="Project URL if applicable"
                        />
                    </div>
                    <div class="block">
                        <label for="type" class="block mb-2 font-semibold">Project Type</label>
                        <input
                            id="type"
                            name="type" 
                            type="text"
                            value="${projData?.type ?? ""}"
                            placeholder="e.g. 'volunteering', 'presentation', 'talk', 'application', 'conference'"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block">
                        <label for="startDate" class="block mb-2 font-semibold">Start Date</label>
                        <input
                            id="startDate"
                            name="startDate" 
                            type="text"
                            value="${projData?.startDate ?? ""}"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block">
                        <label for="endDate" class="block mb-2 font-semibold">End Date</label>
                        <input
                            id="endDate"
                            name="endDate" 
                            type="text"
                            value="${projData?.endDate ?? ""}"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div id="highlights" class="block col-span-full">
                        <label for="highlights" class="block font-semibold">Highlights</label>
                        <button
                            id="addHighlightButton"
                            type="button"
                            class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
                            onclick="$(this).before(renderProjectHighlightEntry('new_${new_entry_index_project}', ''));new_entry_index_project++;"
                        >
                            New Highlight
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </button>
                    </div>
                    <div id="keywords" class="block col-span-full">
                        <label for="keywords" class="block font-semibold">Keywords</label>
                        <button
                            id="addKeywordButton"
                            type="button"
                            class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
                            onclick="$(this).before(renderProjectKeywordEntry('new_${new_entry_index_project}', ''));new_entry_index_project++;"
                        >
                            New Keyword
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </button>
                    </div>
                    <div id="roles" class="block col-span-full">
                        <label for="roles" class="block font-semibold">Roles</label>
                        <button
                            id="addRoleButton"
                            type="button"
                            class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
                            onclick="$(this).before(renderProjectRoleEntry('new_${new_entry_index_project}', ''));new_entry_index_project++;"
                        >
                            New Role
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            `);
        }

        function renderProjectHighlightEntry(highlightId, highlightVal) {
            return (`
                <div class="flex justify-between items-center gap-4">
                    <input
                        id="highlight_${highlightId}"
                        name="highlight_${highlightId}"
                        value="${highlightVal}"
                        type="text"
                        class="border p-2 rounded w-full"
                    />
                    <button
                        class="text-red-500 hover:text-red-700 flex items-center"
                        onclick="$(this).parent().remove();"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                    </button>
                </div>
            `);
        }

        function renderProjectKeywordEntry(keywordId, keywordVal) {
            return (`
                <div class="flex justify-between items-center gap-4">
                    <input
                        id="keyword_${keywordId}"
                        name="keyword_${keywordId}"
                        value="${keywordVal}"
                        type="text"
                        class="border p-2 rounded w-full"
                    />
                    <button
                        class="text-red-500 hover:text-red-700 flex items-center"
                        onclick="$(this).parent().remove();"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                    </button>
                </div>
            `);
        }

        function renderProjectRoleEntry(roleId, roleVal) {
            return (`
                <div class="flex justify-between items-center gap-4">
                    <input
                        id="role_${roleId}"
                        name="role_${roleId}"
                        value="${roleVal}"
                        type="text"
                        class="border p-2 rounded w-full"
                    />
                    <button
                        class="text-red-500 hover:text-red-700 flex items-center"
                        onclick="$(this).parent().remove();"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                    </button>
                </div>
            `);
        }
    </script>