    <section 
        id="personalInfoEditor"
        class="grid grid-cols-2 gap-6 text-gray-700 mb-6 border rounded p-2"
    >
        <div class="w-full">
            <label for="name" class="block mb-2 font-semibold">Name</label>
            <input
                id="name"
                name="name" 
                type="text"
                value="{{resume.resume.basics.name if resume.resume.basics.name else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full">
            <label for="label" class="block mb-2 font-semibold">Professional Title</label>
            <input
                id="label"
                name="label"
                type="text"
                value="{{resume.resume.basics.label if resume.resume.basics.label else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full">
            <label for="email" class="block mb-2 font-semibold">Email Address</label>
            <input
                id="email"
                name="email"
                type="email"
                value="{{resume.resume.basics.email if resume.resume.basics.email else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full">
            <label for="phone" class="block mb-2 font-semibold">Phone Number</label>
            <input
                id="phone"
                name="phone"
                type="tel"
                value="{{resume.resume.basics.phone if resume.resume.basics.phone else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full">
            <label for="url" class="block mb-2 font-semibold">Website URL</label>
            <input
                id="url"
                name="url"
                type="url"
                value="{{resume.resume.basics.url if resume.resume.basics.url else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full invisible"></div>
        <div class="w-full col-span-full">
            <label class="block mt-2 font-semibold mb-2">Location</label>
            <label for="location_address1" class="block mb-2 font-semibold">Address Line 1</label>
            <input
                id="location_address1"
                name="address"
                type="text"
                value="{{resume.resume.basics.location.address.split('\n')[0] if resume.resume.basics.location.address else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full col-span-full">
            <label for="location_address2" class="block mb-2 font-semibold">Address Line 2</label>
            <input
                id="location_address2"
                name="address2"
                type="text"
                value="{{resume.resume.basics.location.address.split('\n')[1] if resume.resume.basics.location.address else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full">
            <label for="location_city" class="block mb-2 font-semibold">City</label>
            <input
                id="location_city"
                name="city"
                type="text"
                value="{{resume.resume.basics.location.city if resume.resume.basics.location.city else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full">
            <label for="location_countryCode" class="block mb-2 font-semibold">Country Code</label>
            <input
                id="location_countryCode"
                name="countryCode"
                type="text"
                value="{{resume.resume.basics.location.countryCode if resume.resume.basics.location.countryCode else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full">
            <label for="location_postalCode" class="block mb-2 font-semibold">Postal Code</label>
            <input
                id="location_postalCode"
                name="postalCode"
                type="text"
                value="{{resume.resume.basics.location.postalCode if resume.resume.basics.location.postalCode else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full">
            <label for="location_region" class="block mb-2 font-semibold">State/Region</label>
            <input
                id="location_region"
                name="region"
                type="text"
                value="{{resume.resume.basics.location.region if resume.resume.basics.location.region else ''}}"
                class="border p-2 rounded w-full"
            />
        </div>
        <div class="w-full invisible"></div>
        <div class="w-full col-span-full">
            <label for="summary" class="block mb-2 font-semibold">Professional Summary</label>
            <textarea
                id="summary"
                name="summary"
                class="border p-2 rounded w-full"
                rows="5"
            >{{resume.resume.basics.summary if resume.resume.basics.summary else ''}}</textarea>
        </div>
        <div class="w-full invisible"></div>
        <div id="profiles" class="col-span-full w-full">
            <label class="block font-semibold mb-2">Profiles</label>
            <button
                id="addProfileButton"
                type="button"
                class="mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
                onclick="$(this).before(renderNewProfile(`new_${newProfileIndex}`, {}));newProfileIndex++;"
            >
                New Social Profile
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </button>
        </div>
    </section>

<script>
    var newProfileIndex = 0;

    {% for profile in resume.resume.basics.profiles %}
    $('#personalInfoEditor').find('#addProfileButton').before(
        renderNewProfile(
            "{{loop.index0}}", 
            {
                network: "{{profile.network}}",
                username: "{{profile.username}}",
                url: "{{profile.url}}"
            }
        )
    );
    {% endfor %}

    function updateResumePersonalInfo(resume) {
        let profiles = [];
        let locationData = {};
        let address = "";
        let address2 = "";

        $('#personalInfoEditor').children().each(function() {
            if ($(this).attr('id') && $(this).attr('id') == "profiles") {
                $(this).children('div').each(function() {
                    let profileObj = {};
                    let empty = true;

                    $(this).find('input').each(function() {
                        if ($(this).val() == "") {
                            profileObj[$(this).attr('name')] = "";
                            return;
                        }

                        profileObj[$(this).attr('name')] = $(this).val();
                        empty = false;
                    })

                    if (empty) {
                        $(this).remove();
                        return;
                    }

                    profiles.push(profileObj);
                });
            }

            else {
                $(this).find('input').each(function() {
                    id = $(this).attr('id');

                    if (id.startsWith('location_')) {
                        if (id == 'location_address1') {
                            address = $(this).val();
                        }
                        else if (id == 'location_address2'){
                            address2 = $(this).val();
                        }
                        else {
                            locationData[$(this).attr('name')] = $(this).val();
                        }
                    }
                    else {
                        resume.basics[$(this).attr('name')] = $(this).val();
                    }
                });
            }
        });

        if (address2 != "") {
            address += '\n' + address2;
        }
        locationData.address = address;

        resume.basics.location = locationData;
        resume.basics.profiles = profiles;
    }

    function renderNewProfile(profileID, profileData) {
        return (`
            <div id="profile_${profileID}" class="w-full mb-2 flex flex-col gap-2 bg-gray-100 rounded-lg">
                <div class="flex justify-between">
                    <label for="network" class="block font-semibold pt-2 pl-2">Network</label>
                    <button
                        class="text-red-500 hover:text-red-700 flex items-center"
                        onclick="$(this).parent().parent().remove();"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                    </button>
                </div>
                <input
                    id="network"
                    name="network"
                    type="text"
                    value="${profileData?.network ?? ""}"
                    class="border p-1 rounded w-full"
                />
                <label for="username" class="block font-semibold pt-2 pl-2">Username</label>
                <input
                    id="username"
                    name="username"
                    type="text"
                    value="${profileData?.username ?? ""}"
                    class="border p-1 rounded w-full"
                />
                <label for="url" class="block font-semibold pt-2 pl-2">URL</label>
                <input
                    id="url"
                    name="url"
                    type="url"
                    value="${profileData?.url ?? ""}"
                    class="border p-1 rounded w-full"
                />
            </div>
        `);
    }
</script>