        <section 
            id="eduInfoEditor"
            class="gap-6 text-gray-700 p-2"
        >
            <button
                id="addEduButton"
                type="button"
                class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
                onclick="$(this).before(renderBlankEduEntry(`new_${new_edu_index}`));new_edu_index++;"
            >
                New Education
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </button>
        </section>
    
    <script>
        let new_course_index = 0;
        let new_edu_index = 0;

        {% for education in resume.resume.education %}
        $('#eduInfoEditor').find('#addEduButton').before(renderBlankEduEntry({{loop.index0}}));
        
        $('#edu_{{loop.index0}}').find('input#institution').val('{{education.institution if education.institution else ''}}');
        $('#edu_{{loop.index0}}').find('input#score').val('{{education.score if education.score else ''}}');
        $('#edu_{{loop.index0}}').find('input#studyType').val('{{education.studyType if education.studyType else ''}}');
        $('#edu_{{loop.index0}}').find('input#area').val('{{education.area if education.area else ''}}');
        $('#edu_{{loop.index0}}').find('input#startDate').val('{{education.startDate if education.startDate else ''}}');
        $('#edu_{{loop.index0}}').find('input#endDate').val('{{education.endDate if education.endDate else ''}}');
        $('#edu_{{loop.index0}}').find('input#url').val('{{education.url if education.url else ''}}');

        {% for course in education.courses %}
        renderCourseEntry('edu_{{loop.index0}}', 'course_{{loop.index0}}', '{{course}}');
        {% endfor %}
        {% endfor %}


        // Listeners

        function updateResumeEducation(resume) {
            let edu = [];

            $('#eduInfoEditor').find('div[id^="edu_"]').each(function() {
                let edu_obj = { "courses": [] };
                let empty = true;

                $(this).find('input').each(function() {
                    if ($(this).val() == "") {
                        if ($(this).attr('name').startsWith('course_')) {
                            $(this).parent().remove();
                        } else {
                            edu_obj[$(this).attr('name')] = "";
                        }
                        return;
                    }

                    if ($(this).attr('name').startsWith('course_')) {
                        edu_obj.courses.push($(this).val());
                    } else {
                        edu_obj[$(this).attr('name')] = $(this).val();
                    }
                    empty = false;
                });

                if (empty) {
                    $(this).remove();
                    return;
                }

                edu.push(edu_obj);
            });

            resume.education = edu;
        }

        function renderBlankEduEntry(index) {
            return (
                `<div class="grid grid-cols-2 border p-2 rounded gap-4 my-4" id="edu_${index}">
                    <div class="block">
                        <label for="institution" class="block mb-2 font-semibold">Institution Name</label>
                        <input
                            id="institution"
                            name="institution"
                            type="text"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block">
                        <div class="flex justify-between items-center">
                            <label for="score" class="block mb-2 font-semibold">Grade</label>
                            <button
                                class="text-red-500 hover:text-red-700 flex items-center"
                                onclick="$(this).parent().parent().parent().remove();"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                </svg>
                            </button>
                        </div>
                        <input
                            id="score"
                            name="score" 
                            type="text"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block">
                        <label for="studyType" class="block mb-2 font-semibold">Level of Education</label>
                        <input
                            id="studyType"
                            name="studyType"
                            type="text"
                            class="border p-2 rounded w-full"
                            placeholder="Bachelors, Masters, etc."
                        />
                    </div>
                    <div class="block">
                        <label for="area" class="block mb-2 font-semibold">Area/Major</label>
                        <input
                            id="area"
                            name="area"
                            type="text"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block">
                        <label for="startDate" class="block mb-2 font-semibold">Start Date</label>
                        <input
                            id="startDate"
                            name="startDate" 
                            type="text"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block">
                        <label for="endDate" class="block mb-2 font-semibold">End Date</label>
                        <input
                            id="endDate"
                            name="endDate" 
                            type="text"
                            class="border p-2 rounded w-full"
                        />
                    </div>
                    <div class="block col-span-full">
                        <label for="url" class="block mb-2 font-semibold">Institution URL</label>
                        <input
                            id="url"
                            name="url"
                            type="url"
                            class="border p-2 rounded w-full"
                            placeholder="Institution Homepage URL"
                        />
                    </div>
                    <div id="courses" class="block col-span-full">
                        <label for="courses" class="block font-semibold">Courses</label>
                        <button
                            id="addCourseButton"
                            type="button"
                            class="col-span-full mx-auto px-4 py-2 text-blue-500 hover:text-blue-700 flex items-center justify-between gap-2 bg-gray-100 hover:bg-gray-300 rounded-lg"
                            onclick="$(this).before(renderCourseEntry('course_new_${new_course_index}', ''));new_course_index++;"
                        >
                            New Course
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            `);
        }

        function renderCourseEntry(courseId, courseVal) {
            return (`
                <div class="flex justify-between items-center gap-4">
                    <input
                        id="${courseId}"
                        name="${courseId}"
                        value="${courseVal}"
                        type="text"
                        class="border p-2 rounded w-full"
                    />
                    <button
                        class="text-red-500 hover:text-red-700 flex items-center"
                        onclick="$(this).parent().remove();"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                    </button>
                </div>
            `);
        }
    </script>