<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get A Job</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="{{url_for('static',path='dist/css/output.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>
<body>
    {% include "navbar.html" %}

    <div class="grid grid-cols-2 p-4 gap-1">
        <div class="bg-white p-8 w-full shadow-lg rounded-lg">
            <h1 class="text-3xl font-bold text-gray-800 mb-6">{{ resume.job_title }}</h1>
    
            {% include "edit_resume_personal_info.html" %}
            <hr class="my-8">
            {% include "edit_resume_work.html" %}
        </div>
        <object
            data="/resume/pdf/{{resume.id}}"
            type="application/pdf"
            class="bg-white w-full h-full shadow-lg rounded-lg"
        ></object>
    </div>

    
</body>
</html>