<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get A Job</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="{{url_for('static',path='dist/css/output.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>
<body>
    {% include "navbar.html" %}

    <div class="container mx-auto p-4 flex flex-wrap gap-4 justify-left">
        {% for resume in resumes %}
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img
                class="rounded-t-lg w-full h-48 object-cover object-top"
                src="{{storage_public_access_url}}/thumbnails/{{resume.id}}.png"
                loading="lazy"
            />
            <div class="p-5">
                <a href="/resume/{{resume.id}}/edit">
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ resume.job_title }}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ resume.job_description|truncate(100, True) }}</p>
                </a>
                <a href="{{storage_public_access_url}}/pdfs/{{resume.id}}.pdf?download={{resume.job_title}}-resume.pdf" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 [&>*]:px-0.5">
                    PDF
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>