<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn"><img src="{{ user.picture }}">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% if not user or user.is_guest %}
                <a href="/signin?guest_id={{ user.id }}">Sign In</a>
            {% else %}
                <span>{{ user.name }}</span>
                <span>{{ user.email }}</span>
                <a href="/logout">Logout</a>
            {% endif %}
        </div>
    </div>
</div>