<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Generator</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="{{url_for('static',path='dist/css/output.css')}}">
</head>
<body>
    {% include "navbar.html" %}
    <div class="content">
        <h1>Profile page</h1>
        {% if not user or notuser.is_guest %}
            <p>Hello, {{ user.name }}</p>
        {% endif %}
    </div>
</body>
</html>